*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
 
}
.navbar{
    background-color: transparent;
}
.display-flex-header{
    display: flex;
    justify-content: space-evenly;
}
.nav-left img{
 width: 250px;
 margin-top: 20px;
    
}
.nav-logo {
   margin-left: 50px;
  
}

.nav-logo img{
    
    background:transparent   
} 



.nav-right>li>select{
    width: 170px;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    color: ghostwhite;
    font-size: 16px;
    font-weight: 550;
}

.nav-right{
    display: flex;
    margin-top: 20px;
    gap: 8px;
}
.nav-right>li{
   display:none ;
}

.nav-right>button{
    width: 90px;
    height: 36px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    background-color: rgb(229 9 20);
    color: ghostwhite;
    font-size: 17px;
    font-weight: 550;
}

header{
    background: url('/asset/img1.jpg'), linear-gradient(rgba(0, 0, 0, 0.623),rgba(8, 8, 8, 0.658));;
    height: 800px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
   
}
.title{
    color: ghostwhite;
    text-align: center;
    margin-top: 200px;
}
.title h1{
    font-size: 50px;
    font-weight: 900;
}
.title-1{
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}
.title-2{
    font-size: 20px;
    margin-top: 30px;
}
.search{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    margin-left: 800px;
    gap: 10px;
    color: white;
   
}
.search form>input{
    padding: 15px;
    width: 500px;
    background-color: rgba(61, 61, 61, 0.37);
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 20px;
    color: rgb(248, 247, 247);
    font-weight: 600;
}
.search button{
    background-color: rgb(229, 9, 20);
    width: 200px;
    color: ghostwhite;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
.body-1{
    background-color: black;
}
.container{

max-width: 1500px;
height: 500px;
display: flex;
justify-content: center;
margin: auto;

}

.box{
 height: 400px;
 width: 300px;
 margin-left: 50px;
}

.box img{
  height: 400px;
  width: 300px;
  border-radius: 10px;
}

.body-2{
    background-color: black;
}
.body-title1 {
    color: ghostwhite;
    margin-left:370px ;
   padding-top: 70px;
   padding-bottom: 20px;
}

.card{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: ghostwhite;
}
.cards{
     height: auto;
     width: 250px;
     border: 0.5px solid black;
     border-radius: 10px;
     background: linear-gradient(135deg,#1c1b35 60%, #210f19);
     padding: 10px;
}

.cards>h2{
   
    padding: 10px;
    margin-left: 10px;
}

.cards > img{
    width: 80px;
    margin-top: 90px;
    margin-left: 150px;
    margin-bottom: 30px;
    
}
.body-3{
    background-color: black;
}
.body-3 h1{
     color: ghostwhite;
     margin-left: 370px;
     padding-top: 70px;
     padding-bottom: 20px;
}
.Questions{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.Que{
    display: flex;
    justify-content: space-between;
    color: ghostwhite;
    background-color: #2d2d2d;
    padding: 40px;
    width: 1200px;
}
.Que:hover{
    color: black;
    background-color: red;
}
.pludh{
    font-size: 30px;
}
.email{
    background-color: black;
}

.email>p{
    font-size: 20px;
    color: ghostwhite;
    text-align: center;
    /* margin-top: 50px; */
    padding-top: 50px;
   
}
.main-footer{
    background-color: black;
}
.footer-1>p{
   color: ghostwhite;
   margin-top: 60px;
   margin-left: 300px;
}
.ftr{
    
    margin-top: 20px;
}
.footer{
    max-width: 1320px;
    justify-content: center;
    align-items: center;
    display: flex;
   
}
.ftr-box>ul>li{
    list-style: none;
}
.ftr-box{
    display: flex;
    justify-content: center;
    color: ghostwhite;
    gap: 170px;
    margin-left: 300px;
}
.ftr-box1{
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 30px;
  
}
.ftr-button{
    list-style: none;
    margin-left: 300px;
    border: 2px solid black;
    border-radius: 10px; 
}
.content{
    color: ghostwhite;
    padding: 30px;
    margin-left: 270px;
}